<div class="container">
  <div class="name-container">
    <neutron-input class="name-input">
      First Name
      <input neutronInput="text" siteTheme="secondary" />
    </neutron-input>
    <neutron-input class="name-input">
      Last Name
      <input neutronInput="text" siteTheme="secondary" />
    </neutron-input>
  </div>
  <neutron-input>
    Feedback
    <textarea
      neutronInput="textarea"
      siteTheme="secondary"
      rows="10"
      cols="50"
    ></textarea>
  </neutron-input>
  <button neutronButton>Submit</button>
</div>
